$fontIter: 'Inter', sans-serif;
$fontManrope: 'Manrope', sans-serif;

$maxWidth: 1195px;
$maxWidthWindow: 2400px;

$colBlue: #0074D4;
$lightBlue: #2B3350;
$colDarkBlue: #191E32;
$colBlackBlue:  #191E32;
$colorGrey: #F7F7F8;



//$ ;
//$ ;