@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-Light.woff2')format('woff2');
	font-weight: 300;
	font-style: Light;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-Regular.woff2')format('woff2');
	font-weight: 400;
	font-style: Regular;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-Medium.woff2')format('woff2');
	font-weight: 500;
	font-style: Medium;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-SemiBold.woff2')format('woff2');
	font-weight: 600;
	font-style: SemiBold;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-Bold.woff2')format('woff2');
	font-weight: 700;
	font-style: Bold;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-ExtraBold.woff2')format('woff2');
	font-weight: 800;
	font-style: ExtraBold;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-Black.woff2')format('woff2');
	font-weight: 900;
	font-style: Black;
	font-display: swap;
}

//==============================================
@font-face {
	font-family: 'Manrope';
	src: url('../fonts/Manrope/Manrope-Regular.woff2')format('woff2');
	font-weight: 400;
	font-style: Regular;
	font-display: swap;
}
@font-face {
	font-family: 'Manrope';
	src: url('../fonts/Manrope/Manrope-Medium.woff2')format('woff2');
	font-weight: 500;
	font-style: Medium;
	font-display: swap;
}
@font-face {
	font-family: 'Manrope';
	src: url('../fonts/Manrope/Manrope-ExtraBold.woff2')format('woff2');
	font-weight: 800;
	font-style: ExtraBold;
	font-display: swap;
}
